@model Model.Participant

@{
    ViewBag.Title = "Vote";
}

<h2>Vote</h2>

<fieldset>
    <legend>Participant</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MiddleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MiddleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Vote)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Vote)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ParticipantID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
