@model Model.Participant

@{
    ViewBag.Title = "Edit";
}

<h4>EDIT CANDIDATE</h4>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Participant</legend>

        @Html.HiddenFor(model => model.ParticipantID)

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MiddleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MiddleName)
            @Html.ValidationMessageFor(model => model.MiddleName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        @*<div class="editor-label">
            @Html.LabelFor(model => model.Vote)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vote)
            @Html.ValidationMessageFor(model => model.Vote)
        </div>*@

        <div class="editor-label">
            <b>Post</b>
        </div>
      <div class="editor-field">
          @*  @Html.EditorFor(model => model.PostID)*@
             @Html.DropDownListFor(model => model.PostID, new SelectList((System.Collections.IEnumerable)ViewBag.Item, "Value", "Text"))
            @Html.ValidationMessageFor(model => model.PostID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
