@model IEnumerable<Model.Voter>

@{
    ViewBag.Title = "PasswordCheck";
}

<h4>PASSWORD RECOVERY</h4>

<br />
<br />

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Search Box</legend>

        <table>



            <tr>

                <td>
                    <b>Identity Number:</b>
                </td>
                <td>
                    @Html.TextBox("MatNumber") &nbsp;
                </td>
            </tr>



        </table>
        <input type="submit" value="Search" id="button" class="btn-success" />
        <br />
    </fieldset>
}
  @*  @Html.ActionLink("Print-PassWord","PrintPassword","Post", new{@class="btn-primary"})

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table>
    <tr>
        <th>
           <b>ID.</b>
        </th>
        <th>
        </th>
         <th>
        </th>
        <th>
           <b>Name</b>
        </th>
         <th>
        </th>
         <th>
        </th>
        <th>
           <b>Department</b>
        </th>
         <th>
        </th>
         <th>
        </th>
        <th>
           <b>Password</b>
        </th>
         <th>
        </th>
         <th>
        </th>
        <th>
           <b>Voted Time</b>
        </th>
         <th>
        </th>
         <th>
        </th>
        <th>
           <b>Voted?</b>
        </th>
        <th></th>
    </tr>

   
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdentityNumber)
            </td>
            <td></td>
             <td></td>
             <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
             <td></td>
             <td></td>
             <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
             <td></td>
             <td></td>
            <td>
              <h3> <b> @Html.DisplayFor(modelItem => item.Password) </b></h3>
            </td>
             <td></td>
             <td></td>
            <td>
                @if (item.Voted == true)
                {
                  string theDate =  string.Format("{0:ddd, MMM, yyyy h:mm:ss tt}",item.VotedTime);
                      @* @Html.DisplayFor(modelItem => item.VotedTime)*@
                  <text>@theDate</text>
                    
                }
                else
                {
                    <text>Never Voted</text>
                }
             
               @* @ViewBag.DateTime*@
            </td>
             <td></td>
             <td></td>
            <td>
                @Html.DisplayFor(modelItem => item.Voted)
            </td>

           @* <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.VoterID }) |
            @Html.ActionLink("Details", "Details", new { id = item.VoterID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.VoterID })
            </td>*@
        </tr>
    }
    

</table>
