@model IEnumerable<Model.Post>

@{
    ViewBag.Title = "Result";
    eVoting.DAL.UnitOfWork work = new eVoting.DAL.UnitOfWork();
}

@{
string dat = string.Format("{0:dd-MM-yyyy   hh:mmtt}", DateTime.Now);
}
<h3>RESULT  @* <text>@dat</text>*@ </h3>
<br />
@*<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PostName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PostName)
    </div>
</fieldset>*@
<h4><b>@ViewBag.NumberVoted students voted out of  a total number of  @ViewBag.TotalVoter </b></h4>
@foreach (var post in Model)
{
    List<Model.Participant> theParticipants = work.ParticipantRepository.Get(a => a.PostID == post.PostID).ToList();
    <fieldset>
        <legend>Position -<b>@post.PostName</b></legend>

        @if (theParticipants.Count > 1)
        {
            foreach (var man in theParticipants)
            {
            <img src="@Url.Action("GetImage", "Participant", new { id = man.ParticipantID })"  width="70" height="70" /> <text>@man.LastName @man.FirstName @man.MiddleName  <b>Scored </b>- <b>@man.Vote</b></text>
                


            <br />
            <hr />
            }
        }
        @if (theParticipants.Count == 1)
        {
        
            <div>
                <img src="@Url.Action("GetImage", "Participant", new { id = theParticipants[0].ParticipantID })"  width="70" height="70" />
                <br />
                <b>@theParticipants[0].LastName @theParticipants[0].FirstName @theParticipants[0].MiddleName </b>
              <br />
                 <text> <b>YES VOTE(S) - </b> <b>@theParticipants[0].Yes</b></text>
                 <br />
                <text> <b>NO VOTE(S) - </b> <b>@theParticipants[0].No</b></text>
                @* <input type="radio" name="@Html.Raw(man.Post.PostName)" value="@Html.Raw(man.ParticipantID)"/><b>@Html.Raw(man.LastName + "  ")@Html.Raw(man.FirstName + "  ")@Html.Raw(man.MiddleName + "  ")</b>*@

              @*  <input type="radio" name="@Html.Raw(post.PostName)" value="@Html.Raw(theParticipants[0].ParticipantID + ":" + "YES")"/><b>YES</b>
                <input type="radio" name="@Html.Raw(post.PostName)" value="@Html.Raw(theParticipants[0].ParticipantID + ":" + "NO")"/><b>NO</b>*@
                <hr />
            </div>
        }


    </fieldset>
    <br />
    <br />
}


<p>
    @*  @Html.ActionLink("Edit", "Edit", new { id=Model.PostID }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
